#!/bin/bash

red=31
green=32
yellow=33
cyan=36
cecho() {
    color=$1
    shift
    echo -e "\e[${color}m$@\e[m"
}

# install package
sudo apt-get update
sudo apt-get install -y ccache tmux nodejs python3-pip ripgrep curl fonts-font-awesome checkinstall wget keychain
sudo npm install -g textlint textlint-rule-preset-ja-technical-writing network-manager-l2tp-gnome 
python3 -m pip install cpplint
# install bat fd
sudo apt install fd-find bat -y

# install zoxide
curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash

# install gh command
curl https://github.com/cli/cli/releases/download/v2.17.0/gh_2.17.0_linux_amd64.deb


{{- if eq .chezmoi.username "gisen" -}}

# install lazygit
cd /tmp
LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
tar xf lazygit.tar.gz lazygit
sudo install lazygit /usr/local/bin

# install Node.js
curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -
sudo apt install -y nodejs

# install nvim
sudo add-apt-repository ppa:neovim-ppa/unstable
sudo apt update
sudo apt install -y neovim

# install tree-sitter
sudo npm install tree-sitter-cli -g

# install i3 packages
{{-   if eq .chezmoi.osRelease.versionID "20.04" -}}
        sudo add-apt-repository ppa:regolith-linux/release
        sudo apt update
        sudo apt install -y i3-gaps
{{-   else if eq .chezmoi.osRelease.versionID "22.04" -}}
        wget -qO - https://regolith-desktop.org/regolith.key | \
        gpg --dearmor | sudo tee /usr/share/keyrings/regolith-archive-keyring.gpg > /dev/null
        echo deb "[arch=amd64 signed-by=/usr/share/keyrings/regolith-archive-keyring.gpg] \
        https://regolith-desktop.org/release-ubuntu-jammy-amd64 jammy main" | \
        sudo tee /etc/apt/sources.list.d/regolith.list
        sudo apt update
        sudo apt install -y i3-gaps
{{-   else if eq .chezmoi.osRelease.versionID "24.04" -}}
        sudo apt update
        sudo apt install -y i3-wm aconf
{{-   end -}}

sudo apt install -y rofi compton flameshot
# install i3blocks
git clone https://github.com/vivien/i3blocks.git $HOME/.local/share/i3blocks
cd $HOME/.local/share/i3blocks
./autogen.sh
./configure
make
sudo checkinstall -y
# cp rofi themes
git clone https://github.com/lr-tech/rofi-themes-collection $HOME/.local/share/rofi-themes-collection
mkdir -p $HOME/.local/share/rofi/themes
cp $HOME/.local/share/rofi-themes-collection/themes/rounded-common.rasi $HOME/.local/share/rofi/themes/
cp $HOME/.local/share/rofi-themes-collection/themes/rounded-nord-dark.rasi $HOME/.local/share/rofi/themes/
{{- end -}}

mkdir $HOME/work


# install fzf
git clone https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install --all --no-zsh --no-fish


{{ if eq .chezmoi.username "gisen" }}

# install go and efm-langserver
sudo add-apt-repository -y ppa:longsleep/golang-backports
sudo apt update
sudo apt install -y golang-go
source $HOME/.bashrc
go install github.com/mattn/efm-langserver@latest

sudo apt install -y npm gconf2
sudo npm install -g tree-sitter-cli
{{ end }}
