#!/bin/bash

red=31
green=32
yellow=33
cyan=36
cecho() {
    color=$1
    shift
    echo -e "\e[${color}m$@\e[m"
}

# install package
sudo apt-get update
sudo apt-get install -y ccache tmux nodejs python3-pip ripgrep curl fonts-font-awesome checkinstall wget
sudo npm install -g textlint textlint-rule-preset-ja-technical-writing
python3 -m pip install cpplint
# install bat fd
wget https://github.com/sharkdp/fd/releases/download/v8.4.0/fd-musl_8.4.0_amd64.deb -P /tmp/
wget https://github.com/sharkdp/bat/releases/download/v0.22.1/bat-musl_0.22.1_amd64.deb -P /tmp/
sudo dpkg -i  /tmp/fd-musl_8.4.0_amd64.deb
sudo dpkg -i  /tmp/bat-musl_0.22.1_amd64.deb

# install zoxide
curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash

{{ if eq .chezmoi.username "gisen" }}

# install i3 packages
sudo add-apt-repository ppa:regolith-linux/release
sudo apt update
sudo apt install i3-gaps rofi compton flameshot

# install i3blocks
git clone https://github.com/vivien/i3blocks.git $HOME/.local/share/i3blocks
cd $HOME/.local/share/i3blocks
./autogen.sh
./configure
make
sudo checkinstall -y

{{ end }}

# cp rofi themes
git clone https://github.com/lr-tech/rofi-themes-collection $HOME/.local/share/rofi-themes-collection
mkdir -p $HOME/.local/share/rofi/themes
cp $HOME/.local/share/rofi-themes-collection/themes/rounded-common.rasi $HOME/.local/share/rofi/themes/
cp $HOME/.local/share/rofi-themes-collection/themes/rounded-nord-dark.rasi $HOME/.local/share/rofi/themes/

# install gh command
curl https://github.com/cli/cli/releases/download/v2.17.0/gh_2.17.0_linux_amd64.deb

mkdir $HOME/work

{{ if eq .chezmoi.username "gisen" }}
# Install vim dependancies
sudo apt install -y git build-essential autoconf automake cproto gettext
sudo apt install -y libacl1-dev libgpm-dev libgtk-3-dev libtinfo-dev libxmu-dev libxpm-dev libncurses-dev 
sudo apt install -y libperl-dev liblua5.2-0 liblua5.2-dev libluajit-5.1-dev lua5.2 luajit python-dev python3-dev ruby-dev


git clone https://github.com/vim/vim.git $HOME/work/vim
cd $HOME/work/vim
./configure  --prefix=/usr/local/ --with-features=huge --enable-multibyte --enable-gpm --enable-cscope --enable-perlinterp --enable-python3interp --enable-rubyinterp --enable-luainterp --enable-acl --enable-fontset --enable-xim --enable-terminal --enable-fail-if-missing --with-luajit --with-x
make -j8
sudo checkinstall -y
# Install deno
curl -fsSL https://deno.land/install.sh | sh

{{ else }}
sudo apt install vim -y

{{ end }}



# install fzf
git clone https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install --all --no-zsh --no-fish


{{ if eq .chezmoi.username "gisen" }}

# install go and efm-langserver
sudo add-apt-repository -y ppa:longsleep/golang-backports
sudo apt update
sudo apt install -y golang-go
source $HOME/.bashrc
go install github.com/mattn/efm-langserver@latest

{{ end }}
